@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
    margin: 0;
  font-family: 'Shanti', sans-serif;
  background:white;
 }
 .AboutUsSecond h2{
     color: #6c1a6f;
 }

.agrupacion{
    border-radius: 8px;
    width: 100%
} 

.AboutUsfirth p {
    padding: 64px 0 64px 0;
}
.AboutUsSecond p{
    padding: 64px 0 64px 0;
}
.AboutUsthird p {
    padding: 64px 0 64px 0;
}
.AboutUsthird {
    padding: 0 0 128px 0;
}
.linksOfInterest{
    padding: 0 0 3% 0 ;
}
.linksOfInterestTitle h2 {
    padding: 0 0 32px 0;
    color: #6c1a6f;
}
.linksOfInterest a:link {
    color: #6c1a6f;
}
.linksOfInterest a:visited {
    color: grey;
}
.linksOfInterest a:active {
    color: #6c1a6f;
    background-color: white;
}
.linksOfInterest a:hover {
    color: white;
    background-color: #7E2C81;
    background:white;
}
.form-group.col-md-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

