@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
  margin: 0;
  font-family: 'Shanti', sans-serif;
  background:white;
}

section{
    font-size: 20px;
}
.ges-line{
    margin: 2rem 0rem 4rem 0rem;
}

.ges-line-two, .ges-img{
    margin: 4rem 0rem 4rem 0rem;
}
.ges-img{
    text-align: center; 
}

.img-container{
    width: 100%;
    border-radius: 8px;
}
.ges-line-three{
    margin: 8rem 0rem 2rem 0rem;
}

.ges-line-four{
    margin: 2rem 0rem 8rem 0rem;
}

.ges-subtitle {
    font-size:25px;
    font-weight: bolder;
    color: #6c1a6f;
}

a {
    color: #6c1a6f;
}

a:hover{
    color: #6c1a6f;
}

.ges-title{
    font-weight: bolder;
    margin-bottom: 24px;
}