@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.breadcrumb{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 0px;
    padding-top: 20px;
}


.breadcrumb-item {
    color: #6c1a6f;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}