@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
  
  font-family: 'Shanti', sans-serif;
 ;
}

.footer{
    background-color: #7E2C81 ;
    padding: 24px 15px 15px 15px;
}

.footer_logo_twitter{
    height: 30px;
    margin: 3%
}
.footer_logo_facebook{
    height: 30px;
    margin: 3%
}
.footer_logo_youtube {
    height: 30px;
    margin: 3%
}
.footer_logo_address{
    height: 30px;
    display: flex;
   justify-content: center;
   align-items: center;
}
.footer_logo_email{
    height: 30px;
}
.footer_logo_whatsapp{
    height: 30px;
}
.footer p{
    color: white;
    margin :0%;
    
   
}
.footer a {
    color: white;
}
.footer h1 {
    color: white;
}
 .footer ul{
    list-style: disc;
    color: rgb(33, 223, 236);
 }
 .socialMedia {
    text-align:center;
 }
 /* .map {
    text-align:center;
    padding: 3%;    
 } */
 .info{
     padding:  15% 0 0 23%;
 }

.col-sm-2 {
    display:block;
    margin:auto;
    padding: 2%;
    }
.col-sm-9 {
    display: flex;
    align-content: center;
    padding: 2%;
 
    }
    
@media only screen and (max-width: 768px) {
    .info{
        display: none
    }
    
 }