@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
  margin: 0;
  font-family: 'Shanti', sans-serif;
  background:white;
}

.navbar{
    box-shadow: 2px 2px 15px -10px rgba(0,0,0,0.75);
}
.navbar-brand > img{
  width: 70%;
  height: auto;
}
.dropdown-item{
  padding : .25rem 4.5rem !important;
}
nav > .container{
  margin-bottom: 0px;
}

.dropdown.nav-item,.nav-link{
  align-self: center;
}
nav > div > div > div > a, nav > div > div > div >div > a{
  color:black !important;
  font-family: 'Shanti', sans-serif;
  font-size: 16px;
  margin:10px;
}