@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
  margin: 0;
  font-family: 'Shanti', sans-serif;
  background:white;
}

.navbar{
    box-shadow: 2px 2px 15px -10px rgba(0,0,0,0.75);
}
.navbar-brand > img{
  width: 70%;
  height: auto;
}
.dropdown-item{
  padding : .25rem 4.5rem !important;
  font-size: 15px;
}
nav > .container{
  margin-bottom: 0px;
}

.dropdown.nav-item,.nav-link{
  align-self: center;

}
nav > div > div > div > a, nav > div > div > div >div > a{
  text-align: center;
  color:black !important;
  font-family: 'Shanti', sans-serif;
  font-size: 15px;
  margin:8px;
}

.navbar {    
  background: #2C3E50;
}
.navbar-nav > div > div > a:active{
  background-color: #f8f9fa;
  color:black;

}
