@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
  margin: 0;
  font-family: 'Shanti', sans-serif;
  background:white;
}

header {
  width: 100%;
  background:white;
}

section {
  width: 100%;
  background:white;
  margin-top: 128px;
}

.menu-nav-row,.menu-ul-row{
  display: flex;
  flex-direction:row;
  width: 100%;
}
.menu-left-col,.menu-center-col,.menu-right-col{
  display:flex;
  flex-direction:column;
  width: 100%;
}
/* NAVBAR */
.menu-center-col{
  align-self: center;
}

.menu-nav-row{
    background-color: white;
    margin-bottom: 1%;
}

.menu-left-col{
  flex:1;
  align-self: center;
  flex-wrap: nowrap;
}

.menu-ul-row{
  padding:0;
  margin:0;
  flex-wrap: wrap;
}

.menu-ul-row li{
  display:inline-flex;
  list-style-type: none;
  text-align: center;
  align-items:center;
  justify-content:center;
}

.menu-ul-row li a{
  display: block;
  text-decoration: none;
  color:black;
  align-self:center;
}


.menu-ul{
  text-align: center;
  padding:1.5%;
  margin:10px;
  flex:1;
}

.menu-ul:hover{
background-color: rgb(218, 218, 218)
}

.menu-icon{
  width: auto;
  height:12vh;
  margin: 10px;
}

/* /////// */

.pin-icon{
  width: 25px;
  padding: 2px 2px 2px 2px;
}

.section-row, .section-two-row, .button-row{
  display: flex;
  flex-direction:row;
  width: 100%;
}

.section-row{
  margin-top: 10%;
}

.section-two-row{
  margin-top:0;
}

.section-col, .section-two-row{
  width: 45%;
  margin-left: 10%;
}

.section-img-col{
  
  width: 45%;
}

.section-img-col img{
  width: 45%;
  width: 70%;
  border-radius: 30px;
}

.carousel-row{
  display: flex;
  flex-direction:row;
  width: 100%;
  margin-left: 25%
}

.carousel-col{
  display: flex;
  flex-direction:row;
  width: 50%;
}

.carousel-text-col{
  margin-left: 10%;
}

.footer-row{
  display: flex;
  flex-direction:row;
  width: 100%;
  background: #7F4787;
}

.button-row{
  margin: 5%;
  }

.button-col{
  padding: 10%;
}

.button-lupus{
  width: 100px;
  height: 50px;
  border-radius: 7%;
  color: #F1F1F1;
  background: #7F4787;
  border-style: none;
}