@import url('https://fonts.googleapis.com/css?family=Shanti&display=swap');
body {
  margin: 0;
  font-family: 'Shanti', sans-serif;
  background:white;
}
/* seccion 'sobre nosotros' */
.about-us,.work-approach{
    margin: 8rem 4rem 8rem 4rem;
    font-size: 20px;
}
.work-approach{
    margin: 0rem 4rem 0rem 4rem;
}

.about-us > div > div > h1,.work-approach > div > div > h1 {
    font-weight: bolder; 
}
.img_home{
    width: 100%;
}
.img-container{
    text-align: center;
}

/* seccion 'enfoque de trabajo' */
.work-approach > div > div {
    padding: 0px;
}
.carousel-indicators li {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #7E2C81;
}
.carousel-indicators .active{
    background-color: #7E2C81;
    border:none;
}
.carousel-indicators {
    margin-bottom: -50px;
}




@media only screen and (max-width: 768px) {
    .about-us,.work-approach{
        margin: 4rem 2rem 4rem 2rem;
    }
}


